@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../font/untitled-font-1.eot");
  src:url("../font/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../font/untitled-font-1.woff") format("woff"),
    url("../font/untitled-font-1.ttf") format("truetype"),
    url("../font/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows-ccw:before {
  content: "\6b";
}
.icon-check:before {
  content: "\6c";
}
.icon-brush:before {
  content: "\6d";
}
.icon-basket:before {
  content: "\6e";
}
.icon-android-alarm-clock:before {
  content: "\61";
}
.icon-android-arrow-dropup:before {
  content: "\62";
}
.icon-android-arrow-dropright:before {
  content: "\63";
}
.icon-android-arrow-dropdown:before {
  content: "\64";
}
.icon-android-arrow-dropleft:before {
  content: "\65";
}
.icon-android-bar:before {
  content: "\66";
}
.icon-android-bicycle:before {
  content: "\67";
}
.icon-android-attach:before {
  content: "\68";
}
.icon-android-arrow-forward:before {
  content: "\69";
}
.icon-android-arrow-up:before {
  content: "\6a";
}
.icon-android-arrow-back:before {
  content: "\6f";
}
.icon-android-arrow-down:before {
  content: "\70";
}
.icon-android-archive:before {
  content: "\71";
}
.icon-android-call:before {
  content: "\72";
}
.icon-android-bus:before {
  content: "\73";
}
.icon-android-calendar:before {
  content: "\74";
}
.icon-android-camera:before {
  content: "\75";
}
.icon-android-cart:before {
  content: "\76";
}
.icon-android-chat:before {
  content: "\77";
}
.icon-android-checkbox:before {
  content: "\78";
}
.icon-android-checkbox-outline:before {
  content: "\79";
}
.icon-android-checkmark-circle:before {
  content: "\7a";
}
.icon-android-bulb:before {
  content: "\41";
}
.icon-android-bookmark:before {
  content: "\42";
}
.icon-android-cloud-done:before {
  content: "\43";
}
.icon-android-cloud-outline:before {
  content: "\44";
}
.icon-android-color-palette:before {
  content: "\45";
}
.icon-android-contacts:before {
  content: "\46";
}
.icon-android-contact:before {
  content: "\47";
}
.icon-android-create:before {
  content: "\48";
}
.icon-android-delete:before {
  content: "\49";
}
.icon-android-done:before {
  content: "\4a";
}
.icon-android-desktop:before {
  content: "\4b";
}
.icon-android-favorite:before {
  content: "\4c";
}
.icon-android-favorite-outline:before {
  content: "\4d";
}
.icon-android-folder-open:before {
  content: "\4e";
}
.icon-android-folder:before {
  content: "\4f";
}
.icon-android-laptop:before {
  content: "\50";
}
.icon-android-home:before {
  content: "\51";
}
.icon-android-image:before {
  content: "\52";
}
.icon-android-globe:before {
  content: "\53";
}
.icon-android-menu:before {
  content: "\54";
}
.icon-android-navigate:before {
  content: "\55";
}
.icon-android-notifications:before {
  content: "\56";
}
.icon-android-notifications-none:before {
  content: "\57";
}
.icon-android-person:before {
  content: "\58";
}
.icon-android-people:before {
  content: "\59";
}
.icon-android-phone-portrait:before {
  content: "\5a";
}
.icon-android-phone-landscape:before {
  content: "\30";
}
.icon-android-pin:before {
  content: "\31";
}
.icon-android-plane:before {
  content: "\32";
}
.icon-android-refresh:before {
  content: "\33";
}
.icon-android-star:before {
  content: "\34";
}
.icon-android-star-outline:before {
  content: "\35";
}
.icon-android-share-alt:before {
  content: "\36";
}
.icon-android-settings:before {
  content: "\37";
}
.icon-android-search:before {
  content: "\38";
}
.icon-android-send:before {
  content: "\39";
}
.icon-android-time:before {
  content: "\21";
}
.icon-android-textsms:before {
  content: "\22";
}
.icon-android-stopwatch:before {
  content: "\23";
}
.icon-android-print:before {
  content: "\24";
}
.icon-android-add:before {
  content: "\25";
}
.icon-android-add-circle:before {
  content: "\26";
}
.icon-alert-circled:before {
  content: "\27";
}
.icon-alert:before {
  content: "\28";
}
.icon-android-watch:before {
  content: "\29";
}
.icon-android-restaurant:before {
  content: "\2a";
}
.icon-android-remove:before {
  content: "\2b";
}
.icon-android-remove-circle:before {
  content: "\2c";
}
.icon-bag:before {
  content: "\2d";
}
.icon-at:before {
  content: "\2e";
}
.icon-bluetooth:before {
  content: "\2f";
}
.icon-chatbubble:before {
  content: "\3a";
}
.icon-cash:before {
  content: "\3b";
}
.icon-chatbox:before {
  content: "\3c";
}
.icon-camera:before {
  content: "\3d";
}
.icon-bug:before {
  content: "\3e";
}
.icon-checkmark-round:before {
  content: "\3f";
}
.icon-chevron-up:before {
  content: "\40";
}
.icon-chevron-right:before {
  content: "\5b";
}
.icon-chevron-left:before {
  content: "\5d";
}
.icon-chevron-down:before {
  content: "\5e";
}
.icon-clock:before {
  content: "\5f";
}
.icon-clipboard:before {
  content: "\60";
}
.icon-close-round:before {
  content: "\7b";
}
.icon-drag:before {
  content: "\7c";
}
.icon-edit:before {
  content: "\7d";
}
.icon-earth:before {
  content: "\7e";
}
.icon-compass:before {
  content: "\5c";
}
.icon-eye:before {
  content: "\e000";
}
.icon-flash:before {
  content: "\e001";
}
.icon-home:before {
  content: "\e002";
}
.icon-ios-alarm-outline:before {
  content: "\e003";
}
.icon-ios-alarm:before {
  content: "\e004";
}
.icon-help:before {
  content: "\e005";
}
.icon-email:before {
  content: "\e006";
}
.icon-images:before {
  content: "\e007";
}
.icon-image:before {
  content: "\e008";
}
.icon-headphone:before {
  content: "\e009";
}
.icon-compose:before {
  content: "\e00a";
}
.icon-ios-arrow-up:before {
  content: "\e00b";
}
.icon-ios-arrow-right:before {
  content: "\e00c";
}
.icon-ios-arrow-left:before {
  content: "\e00d";
}
.icon-ios-arrow-forward:before {
  content: "\e00e";
}
.icon-ios-arrow-down:before {
  content: "\e00f";
}
.icon-ios-arrow-back:before {
  content: "\e010";
}
.icon-ios-at:before {
  content: "\e011";
}
.icon-ios-at-outline:before {
  content: "\e012";
}
.icon-ios-bolt-outline:before {
  content: "\e013";
}
.icon-ios-calculator:before {
  content: "\e014";
}
.icon-ios-calculator-outline:before {
  content: "\e015";
}
.icon-ios-bolt:before {
  content: "\e016";
}
.icon-ios-camera:before {
  content: "\e017";
}
.icon-ios-camera-outline:before {
  content: "\e018";
}
.icon-ios-checkmark-empty:before {
  content: "\e019";
}
.icon-ios-checkmark-outline:before {
  content: "\e01a";
}
.icon-ios-checkmark:before {
  content: "\e01b";
}
.icon-ios-chatbubble-outline:before {
  content: "\e01c";
}
.icon-ios-chatbubble:before {
  content: "\e01d";
}
.icon-ios-chatboxes:before {
  content: "\e01e";
}
.icon-ios-chatboxes-outline:before {
  content: "\e01f";
}
.icon-ios-cart:before {
  content: "\e020";
}
.icon-ios-cart-outline:before {
  content: "\e021";
}
.icon-ios-contact:before {
  content: "\e022";
}
.icon-ios-contact-outline:before {
  content: "\e023";
}
.icon-ios-email:before {
  content: "\e024";
}
.icon-ios-drag:before {
  content: "\e025";
}
.icon-ios-email-outline:before {
  content: "\e026";
}
.icon-ios-eye:before {
  content: "\e027";
}
.icon-ios-download:before {
  content: "\e028";
}
.icon-ios-download-outline:before {
  content: "\e029";
}
.icon-ios-cloud-upload:before {
  content: "\e02a";
}
.icon-ios-cloud-upload-outline:before {
  content: "\e02b";
}
.icon-ios-cloud-download:before {
  content: "\e02c";
}
.icon-ios-cloud-download-outline:before {
  content: "\e02d";
}
.icon-ios-close-empty:before {
  content: "\e02e";
}
.icon-ios-close-outline:before {
  content: "\e02f";
}
.icon-ios-clock-outline:before {
  content: "\e030";
}
.icon-ios-clock:before {
  content: "\e031";
}
.icon-ios-eye-outline:before {
  content: "\e032";
}
.icon-ios-fastforward:before {
  content: "\e033";
}
.icon-ios-fastforward-outline:before {
  content: "\e034";
}
.icon-ios-film:before {
  content: "\e035";
}
.icon-ios-film-outline:before {
  content: "\e036";
}
.icon-ios-gear-outline:before {
  content: "\e037";
}
.icon-ios-gear:before {
  content: "\e038";
}
.icon-ios-game-controller-b-outline:before {
  content: "\e039";
}
.icon-ios-game-controller-b:before {
  content: "\e03a";
}
.icon-ios-game-controller-a-outline:before {
  content: "\e03b";
}
.icon-ios-game-controller-a:before {
  content: "\e03c";
}
.icon-ios-home:before {
  content: "\e03d";
}
.icon-ios-home-outline:before {
  content: "\e03e";
}
.icon-ios-information:before {
  content: "\e03f";
}
.icon-ios-information-empty:before {
  content: "\e040";
}
.icon-ios-information-outline:before {
  content: "\e041";
}
.icon-ios-lightbulb:before {
  content: "\e042";
}
.icon-ios-lightbulb-outline:before {
  content: "\e043";
}
.icon-ios-navigate:before {
  content: "\e044";
}
.icon-ios-navigate-outline:before {
  content: "\e045";
}
.icon-ios-musical-notes:before {
  content: "\e046";
}
.icon-ios-musical-note:before {
  content: "\e047";
}
.icon-ios-minus-outline:before {
  content: "\e048";
}
.icon-ios-minus-empty:before {
  content: "\e049";
}
.icon-ios-minus:before {
  content: "\e04a";
}
.icon-ios-monitor:before {
  content: "\e04b";
}
.icon-ios-monitor-outline:before {
  content: "\e04c";
}
.icon-ios-paperplane:before {
  content: "\e04d";
}
.icon-ios-paperplane-outline:before {
  content: "\e04e";
}
.icon-ios-pause:before {
  content: "\e04f";
}
.icon-ios-pause-outline:before {
  content: "\e050";
}
.icon-ios-people:before {
  content: "\e051";
}
.icon-ios-people-outline:before {
  content: "\e052";
}
.icon-ios-person:before {
  content: "\e053";
}
.icon-ios-person-outline:before {
  content: "\e054";
}
.icon-ios-personadd:before {
  content: "\e055";
}
.icon-ios-personadd-outline:before {
  content: "\e056";
}
.icon-ios-play:before {
  content: "\e057";
}
.icon-ios-play-outline:before {
  content: "\e058";
}
.icon-ios-pulse-strong:before {
  content: "\e059";
}
.icon-ios-pulse:before {
  content: "\e05a";
}
.icon-ios-printer:before {
  content: "\e05b";
}
.icon-ios-printer-outline:before {
  content: "\e05c";
}
.icon-ios-pricetags-outline:before {
  content: "\e05d";
}
.icon-ios-pricetags:before {
  content: "\e05e";
}
.icon-ios-pricetag-outline:before {
  content: "\e05f";
}
.icon-ios-pricetag:before {
  content: "\e060";
}
.icon-ios-plus-outline:before {
  content: "\e061";
}
.icon-ios-plus-empty:before {
  content: "\e062";
}
.icon-ios-plus:before {
  content: "\e063";
}
.icon-ios-refresh:before {
  content: "\e064";
}
.icon-ios-refresh-empty:before {
  content: "\e065";
}
.icon-ios-redo:before {
  content: "\e066";
}
.icon-ios-redo-outline:before {
  content: "\e067";
}
.icon-ios-skipbackward:before {
  content: "\e068";
}
.icon-ios-skipbackward-outline:before {
  content: "\e069";
}
.icon-ios-skipforward:before {
  content: "\e06a";
}
.icon-ios-skipforward-outline:before {
  content: "\e06b";
}
.icon-ios-telephone:before {
  content: "\e06c";
}
.icon-ios-telephone-outline:before {
  content: "\e06d";
}
.icon-ios-star:before {
  content: "\e06e";
}
.icon-ios-star-outline:before {
  content: "\e06f";
}
.icon-ios-stopwatch:before {
  content: "\e070";
}
.icon-ios-stopwatch-outline:before {
  content: "\e071";
}
.icon-ios-search:before {
  content: "\e072";
}
.icon-ios-search-strong:before {
  content: "\e073";
}
.icon-ios-time:before {
  content: "\e074";
}
.icon-ios-time-outline:before {
  content: "\e075";
}
.icon-ios-timer-outline:before {
  content: "\e076";
}
.icon-ios-timer:before {
  content: "\e077";
}
.icon-iphone:before {
  content: "\e078";
}
.icon-ipad:before {
  content: "\e079";
}
.icon-laptop:before {
  content: "\e07a";
}
.icon-lightbulb:before {
  content: "\e07b";
}
.icon-navigate:before {
  content: "\e07c";
}
.icon-navicon-round:before {
  content: "\e07d";
}
.icon-navicon:before {
  content: "\e07e";
}
.icon-mouse:before {
  content: "\e07f";
}
.icon-monitor:before {
  content: "\e080";
}
.icon-paper-airplane:before {
  content: "\e081";
}
.icon-paintbrush:before {
  content: "\e082";
}
.icon-pin:before {
  content: "\e083";
}
.icon-pause:before {
  content: "\e084";
}
.icon-plus-circled:before {
  content: "\e085";
}
.icon-plus-round:before {
  content: "\e086";
}
.icon-plus:before {
  content: "\e087";
}
.icon-social-android:before {
  content: "\e088";
}
.icon-social-android-outline:before {
  content: "\e089";
}
.icon-social-angular-outline:before {
  content: "\e08a";
}
.icon-social-angular:before {
  content: "\e08b";
}
.icon-social-apple:before {
  content: "\e08c";
}
.icon-social-apple-outline:before {
  content: "\e08d";
}
.icon-social-bitcoin:before {
  content: "\e08e";
}
.icon-social-bitcoin-outline:before {
  content: "\e08f";
}
.icon-social-chrome:before {
  content: "\e090";
}
.icon-social-chrome-outline:before {
  content: "\e091";
}
.icon-social-css3:before {
  content: "\e092";
}
.icon-social-css3-outline:before {
  content: "\e093";
}
.icon-social-designernews-outline:before {
  content: "\e094";
}
.icon-social-designernews:before {
  content: "\e095";
}
.icon-social-dropbox:before {
  content: "\e096";
}
.icon-social-dropbox-outline:before {
  content: "\e097";
}
.icon-social-googleplus-outline:before {
  content: "\e098";
}
.icon-social-googleplus:before {
  content: "\e099";
}
.icon-social-github:before {
  content: "\e09a";
}
.icon-social-github-outline:before {
  content: "\e09b";
}
.icon-social-google:before {
  content: "\e09c";
}
.icon-social-google-outline:before {
  content: "\e09d";
}
.icon-social-facebook:before {
  content: "\e09e";
}
.icon-social-facebook-outline:before {
  content: "\e09f";
}
.icon-social-html5:before {
  content: "\e0a0";
}
.icon-social-html5-outline:before {
  content: "\e0a1";
}
.icon-social-instagram:before {
  content: "\e0a2";
}
.icon-social-instagram-outline:before {
  content: "\e0a3";
}
.icon-social-linkedin:before {
  content: "\e0a4";
}
.icon-social-linkedin-outline:before {
  content: "\e0a5";
}
.icon-social-pinterest:before {
  content: "\e0a6";
}
.icon-social-pinterest-outline:before {
  content: "\e0a7";
}
.icon-social-euro:before {
  content: "\e0a8";
}
.icon-social-euro-outline:before {
  content: "\e0a9";
}
.icon-social-octocat:before {
  content: "\e0aa";
}
.icon-social-nodejs:before {
  content: "\e0ab";
}
.icon-social-javascript-outline:before {
  content: "\e0ac";
}
.icon-social-javascript:before {
  content: "\e0ad";
}
.icon-social-python:before {
  content: "\e0ae";
}
.icon-social-reddit:before {
  content: "\e0af";
}
.icon-social-reddit-outline:before {
  content: "\e0b0";
}
.icon-social-rss:before {
  content: "\e0b1";
}
.icon-social-rss-outline:before {
  content: "\e0b2";
}
.icon-social-sass:before {
  content: "\e0b3";
}
.icon-social-skype:before {
  content: "\e0b4";
}
.icon-social-skype-outline:before {
  content: "\e0b5";
}
.icon-social-snapchat:before {
  content: "\e0b6";
}
.icon-social-snapchat-outline:before {
  content: "\e0b7";
}
.icon-social-tumblr:before {
  content: "\e0b8";
}
.icon-social-tumblr-outline:before {
  content: "\e0b9";
}
.icon-social-tux:before {
  content: "\e0ba";
}
.icon-social-twitch:before {
  content: "\e0bb";
}
.icon-social-twitch-outline:before {
  content: "\e0bc";
}
.icon-social-twitter:before {
  content: "\e0bd";
}
.icon-social-twitter-outline:before {
  content: "\e0be";
}
.icon-social-usd:before {
  content: "\e0bf";
}
.icon-social-usd-outline:before {
  content: "\e0c0";
}
.icon-social-vimeo:before {
  content: "\e0c1";
}
.icon-social-vimeo-outline:before {
  content: "\e0c2";
}
.icon-social-whatsapp:before {
  content: "\e0c3";
}
.icon-social-whatsapp-outline:before {
  content: "\e0c4";
}
.icon-social-windows:before {
  content: "\e0c5";
}
.icon-social-windows-outline:before {
  content: "\e0c6";
}
.icon-social-wordpress:before {
  content: "\e0c7";
}
.icon-social-wordpress-outline:before {
  content: "\e0c8";
}
.icon-social-youtube:before {
  content: "\e0c9";
}
.icon-social-youtube-outline:before {
  content: "\e0ca";
}
.icon-wifi:before {
  content: "\e0cb";
}
.icon-trash-b:before {
  content: "\e0cc";
}
.icon-trash-a:before {
  content: "\e0cd";
}
.icon-toggle:before {
  content: "\e0ce";
}
.icon-toggle-filled:before {
  content: "\e0cf";
}
.icon-star:before {
  content: "\e0d0";
}
.icon-volume-high:before {
  content: "\e0d1";
}
.icon-volume-low:before {
  content: "\e0d2";
}
.icon-volume-medium:before {
  content: "\e0d3";
}
.icon-search:before {
  content: "\e0d4";
}
